    name: cd pipline

    on:
        workflow_run:
            workflows: [smaple react ci pipline/workflow]
            types: 
               - completed
        workflow_dispatch:         
    jobs:
        deploy:
            runs-on: ubuntu-latest
            environment: production
            steps:
                -   name: set up nodejs 
                    uses: actions/setup-node@v4
                    with:
                         node version: ''
                -   name: set up vercel cli
                    run: npm install -g vercel   

                
                -   name: Download build files from previous workflow
                    uses: actions/download-artifact@v4
                    with:
                        name: build
                        run-id: ${{ github.event.workflow_run.id }}
                        github-token: ${{ secrets.GITHUB_TOKEN }}
                        path: ./dist
                
                -   name: Deploy to vercel
                    run: vercel --prod --token=${{secrets.VERCEL_TOKEN }} --confirm --name=cicdproject
                    
                