    name: cd pipline

    on:
        workflow_run:
            workflows: [smaple react ci pipline/workflow]
            types: 
               - completed
        workflow_dispatch:         
    jobs:
        deploy:
            runs-on: ubuntu-latest
            environment: production
            steps:
                -   name: set up nodejs 
                    uses: actions/setup-node@v4
                    with:
                         node version: '20'
                -   name: set up vercel cli
                    run: npm install -g vercel   

                
                -   name: Download build files from previous workflow
                    uses: actions/download-artifact@v4
                    with:
                        name: build
                        run-id: ${{ github.event.workflow_run.id }}
                        github-token: ${{ secrets.GITHUB_TOKEN }}
                        path: ./dist
                
                -   name: Deploy to vercel
                    run: vercel --prod --token=${{secrets.VERCEL_TOKEN }} --confirm --name=cicdproject
                    
            # mailing 

                -   name: Send success notification
                    if: success()
                    run: |
                        python scripts/send-notification.py success "${{ steps.deploy.outputs.url }}"
                    env:
                        SENDER_EMAIL: ${{ secrets.SMTP_EMAIL }}
                        SENDER_PASSWORD: ${{ secrets.SMTP_PASSWORD }}
                        RECEIVER_EMAIL: ${{ secrets.RECEIVER_EMAIL }}
                        WORKFLOW_NAME: ${{ github.workflow }}
                        REPO_NAME: ${{ github.repository }}
                        WORKFLOW_RUN_ID: ${{ github.run_id }}

                -    name: Send failure notification
                     if: failure()
                     run: |
                        python scripts/send-notification.py failed
                     env: 
                        SENDER_EMAIL: ${{ secrets.SMTP_EMAIL }}
                        SENDER_PASSWORD: ${{ secrets.SMTP_PASSWORD }}
                        RECEIVER_EMAIL: ${{ secrets.RECEIVER_EMAIL }}
                        WORKFLOW_NAME: ${{ github.workflow }}
                        REPO_NAME: ${{ github.repository }}
                        WORKFLOW_RUN_ID: ${{ github.run_id }}